<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SmartHomeProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/booststrap-Litera.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-robot"></i> Jarvis Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Device" asp-action="DeviceManage"><i class="fas fa-server"></i> Manage Devices<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Device" asp-action="AddDevice"><i class="fas fa-plus-square"></i> Add Device<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Device" asp-action="EditDevice"><i class="fas fa-edit"></i> Edit Device<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Device" asp-action="DeviceFunctions"><i class="fas fa-running"></i> Device Functions<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Device" asp-action="JarvisControl"><i class="fas fa-toolbox"></i> Jarvis Control<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="width: 30%;">
                <input class="form-control mr-sm-2" type="text" id="search"placeholder="Search Google" style="width: 70%;">
                <button class="btn btn-secondary my-2 my-sm-0" style="width: 25%;"onclick="window.location.href = 'https://www.google.com/search?q=' + document.getElementById('search').value; return false;"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SmartHomeProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy🔐</a>  <a asp-area="" asp-controller="Home" asp-action="Donation">Support us with a donation❤</a> <a href="https://github.com/CodingTarik/SmartHomeProject">GitHub<i class="fab fa-github"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
