@model DeviceManageModel
@{
    ViewData["Title"] = "Jarvis Home";
}
<div>
    <p1>Raspberry PI-Image, Multicherry, <a href="https://de.wikipedia.org/wiki/Raspberry_Pi#/media/Datei:Raspberry_Pi_2_Model_B_v1.1_top_new_(bg_cut_out).jpg">https://de.wikipedia.org/wiki/Raspberry_Pi#/media/Datei:Raspberry_Pi_2_Model_B_v1.1_top_new_(bg_cut_out).jpg</a>  </p1>
</div>
