@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Donation";
}
<div>
    <h1>You want to Donate to the Developer</h1>
    <a>You can Donate us via crypto(Bitcoin, ETH, Bitcoin Cash) or paypal</a>
</div>