@model SmartHomeProject.Models.DeviceManageModel
@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form style="margin-top: 5%">
       <table class="table table-hover">
            <tr class="table-primary">
                <th>Raum</th>
                <th>Name<th>
            </tr>
    @foreach (var device in Model.DeviceModels)
            {
                <tr>
                <td>@device.Location</td>
                <td>@device.Name</td>
                <td><button type="button" class="btn btn-info">AN/AUS</button></td>
                </tr>
            }

    </form>

</div>
