@model SmartHomeProject.Models.DeviceModel[]

ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <table>
            <tr>
                <th>Name</th>
                <th>Raum</th>
            </tr>
            @foreach (var device in Model)
            {
                <tr>
                    <td>@device.DeviceFunctions</td>
                   
                    <td><input type="submit" class="btn btn-primary" value="An/Aus" /></td>
                </tr>

            }
        </table>
    </form>

</div>
