@model SmartHomeProject.Models.DeviceManageModel
@{
    ViewData["Title"] = "Jarvis Home";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome back!</h1>
    <img src="https://image.flaticon.com/icons/png/512/270/270137.png" style="width: 20%; height: auto;"/>
    <p class="lead">I am Jarvis, I'm here to support you day and night.</p>
    <hr class="my-4">
    <p>© David Noll and Tarik Azzouzi</p>
    <p class="lead">
        <button class="btn btn-primary btn-lg" role="button" onclick="playSound()">Click here to learn more.</button>
    </p>
</div>
<div class="text-center">
    <form style="margin-top: 5%">
        <table class="table table-hover">
            <tr class="table-primary">
                <th>Name</th>
                <th>Room</th>
                <th>Status</th>
            </tr>
            @foreach (var device in Model.DeviceModels)
            {
                <tr>
                    <td class="devicename">@device.name</td>
                    <td>@device.location</td>
                    <td><span id="@(device.name)-status" class="badge badge-danger">Offline</span></td>
                </tr>
            }
        </table>
    </form>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/DeviceStatus.js"></script>
    <script src="/js/JarvisSound.js"></script>
</div>
