@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We care for your data. We don't collect any data. We like Edward Snowden!</p>
<img src="https://64.media.tumblr.com/85643cb72b884d4603ac6d146bd94f5a/tumblr_mo7529eGho1qiavcao1_500.gifv"/>