@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We care for your data. We don't collect any data. We like Edward Snowden!</p>
<img src="https://i1.wp.com/techdipper.com/wp-content/uploads/2018/06/Data-Protection-2.gif?fit=700%2C466&ssl=1"/>