@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We care for your data. We don't collect any data. We like Edward Snowden!</p>
<img src="/img/privacyimg.jpg" width="70%" height="70%"/>