@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Which privacy?</p>

<script type="text/javascript">
    var msg = new SpeechSynthesisUtterance('Wir wixen auf deine IP-Adresse und verkaufen deine Cookies an Nord Korea');
    window.speechSynthesis.speak(msg);
</script>