@model DeviceAddModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Device";
}

<div class="text-center">
    <h1 class="display-4">Add Device</h1>
    @{
        if (Model != null)
        {
            if (Model.successAdded && !string.IsNullOrEmpty(Model.deviceName))
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Adding successful!</strong> The device <strong>@Model.deviceName</strong> was successfully added.
                </div>
            }
            else if (!Model.successAdded && !string.IsNullOrEmpty(Model.deviceName))
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Adding not successful!</strong> The device <strong>@Model.deviceName</strong> could not be added.
                </div>
            }
        }
    }
    <form method="POST">
        <div class="form-group">
            <label for="deviceName">Device Name</label>
            <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Enter device name"/>
        </div>
        <div class="form-group">
            <label for="deviceType">Device type</label>
            <select class="form-control" id="deviceType" name="deviceType">
                <option>Raspberry Pi</option>
                <option>Arduino</option>
                <option>Philips hue</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deviceDescription">Description</label>
            <textarea class="form-control" id="deviceDescription" name="deviceDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="deviceIP">Device-IP</label>
            <input type="text" class="form-control" id="deviceIP" name="deviceIP" placeholder="Enter IP address">
        </div>
        <div class="form-group">
            <label for="devicePort">Device-Port</label>
            <input type="text" class="form-control" id="devicePort" name="devicePort" placeholder="Enter Port" value="333">
        </div>
        <div class="form-group">
            <label for="deviceLocation">DeviceLocation</label>
            <input type="text" class="form-control" id="deviceLocation" name="deviceLocation" placeholder="Enter location">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

</div>
<script src="../lib/jquery/dist/jquery.min.js"></script>