@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Device";
}
     
    <div class="text-center">
        <h1 class="display-4">Gerät hinzufügen</h1>
        <form method="POST">
            <div class="form-group">
                <label for="deviceName">Geräte Name</label>
                <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Geräte Name eingeben">
            </div>
            <div class="form-group">
                <label for="deviceType">Geräte Typ</label>
                <select class="form-control" id="deviceType" name="deviceType">
                    <option>Raspberry Pi</option>
                    <option>Arduino</option>
                    <option>Philips hue</option>
                    <option>Sonstige</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deviceDescription">Beschreibung</label>
                <textarea class="form-control" id="deviceDescription" name="deviceDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="deviceIP">Geräte-IP</label>
                <input type="text" class="form-control" id="deviceIP" name="deviceIP" placeholder="IP-Addresse eingeben">
            </div>
            <div class="form-group">
                <label for="devicePort">Geräte-Port</label>
                <input type="text" class="form-control" id="devicePort" name="devicePort" placeholder="Port Eingeben" value="333">
            </div>
            <div class="form-group">
                <label for="deviceLocation">Gerätestandort</label>
                <input type="text" class="form-control" id="deviceLocation" name="deviceLocation" placeholder="Standort eingeben">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

    </div>
