@model SmartHomeProject.Models.DeviceModel
@{
    ViewData["Title"] = "Edit @Model.Name";
}
<legend>Edit Device</legend>
<div class="text-center">
    <p>@Model.Name</p>
    <form method="POST">
        <form>
            <div class="form-group">
                <label for="deviceName">Geräte Name</label>
                <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Geräte Name eingeben">
            </div>
            <div class="form-group">
                <label for="deviceType">Geräte Typ</label>
                <select class="form-control" id="deviceType" value="" name="deviceType">
                    <option value="Raspberry PI">Raspberry Pi</option>
                    <option value="Arduino">Arduino</option>
                    <option>Philips hue</option>
                    <option>Sonstige</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deviceDescription">Beschreibung</label>
                <textarea class="form-control" id="deviceDescription" name="deviceDescription" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="deviceIP">Geräte-IP</label>
                <input type="text" class="form-control" id="deviceIP" name="deviceIP" placeholder="IP-Addresse eingeben">
            </div>
            <div class="form-group">
                <label for="devicePort">Geräte-Port</label>
                <input type="text" class="form-control" id="devicePort" name="devicePort" placeholder="Port Eingeben">
            </div>
            <div class="form-group">
                <label for="deviceLocation">Gerätestandort</label>
                <input type="text" class="form-control" id="deviceLocation" name="deviceLocation" placeholder="Standort eingeben">
            </div>
            <input value="Submit" class="btn btn-primary" />
        </form>
    </form>


</div>
