@{
    ViewData["Title"] = "Edit Devie";
}
    <legend>Edit Device</legend>
    <div class="text-center">
        <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Geräte Name</label>
                    <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Musst noch machen">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Geräte Typ</label>
                    <select class="form-control" id="deviceType" name="deviceType">
                        <option>Raspberry Pi</option>
                        <option>Arduino</option>
                        <option>Philips hue</option>
                        <option>Sonstige</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Beschreibung</label>
                    <textarea class="form-control" id="deviceDescription" name="deviceDescription" rows="3"></textarea>
                </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
         
    </div>
