@model SmartHomeProject.Controllers.ControlModel
@{
    ViewData["Title"] = "Jarvis Control";
}

    <html>
    @foreach (var device in Model.DeviceModels)
    {
        <h1>@device.Name</h1>
        if (device.DeviceFunctions == null)
        {
        <hr />
        }
        else
        {

            foreach (var funtion in device.DeviceFunctions)
            {
                <div method="post">
                    <input type="submit" class="btn btn-primary" name="@funtion.functionname" value="@funtion.functionname" />
                </div>
                //Es wird nur eine Funktion aufgelistet !? 
            }
            <hr />
        }
    }



    </html>